.list{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    color:white;
    margin-top:2rem ;
}
.list > div{
    padding:1rem;
    color:white;
}
