button{
    background-color: #191414;
    color: #1db954 ;
    border: none;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.main{
    width:100%;
}
.search{
    width:100%;
    display:flex;
    justify-content:space-around;
}
.search > form{
    width:100%;
    display:flex;
    justify-content:space-evenly;
}