.playlist {
  display: flex;
  flex-wrap: wrap;
  margin-left: 270px;
}

.playlist__item h5 {
  margin-top: 10px;
  font-weight: 600;
}

.playlist__title {
  display: flex;
  justify-content: space-between;
  margin-left: 275px;
  font-size: 2rem;
  font-weight: 600;
  color: #1db954;
  margin-bottom: 20px;
  margin-top: 20px;
}
.show-less-button{
  margin-left: 30px;
}
.show-more-button,
.show-less-button {
  background-color: #1db954;
  color: #fff;
  border: none;
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.show-more-button:hover,
.show-less-button:hover {
  opacity: 0.8;
}

.show__button {
  margin-right: 80px;
}

.playlist__item {
  position: relative;
  transition: background-color 0.3s ease;
}

.playlist__item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
}

.edit-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.edit-icons > div {
  margin-left: 8px;
}

.playlist__item:hover .edit-icons {
  opacity: 1;
}

.back {
  display: flex;
  justify-content: flex-start;
  margin-left: 290px;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #1db954;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 80px;
}
.resposive__playlist-title{
  margin-left: 0;
  font-size:25px;
  padding:0 10px;
}
.resposive__playlist-title > div{
  display: flex;
  place-items: center;
}
.responsive__show-button{
  margin-right: 0;
}
.responsive__playlist{
  margin-left: 20px;
}