
.home__title {
    display: flex;
    margin-left:270px; 
    justify-content: space-between;
    width: 70%;
    font-size: 2.0rem;
    font-weight: 600;
    color: #1DB954;
    margin-bottom: 20px;
  }

.refresh:hover{
  cursor: pointer;
}