.home__title {
  display: flex;
  margin-left: 270px;
  justify-content: space-between;
  width: 70%;
  font-size: 2rem;
  font-weight: 600;
  color: #1db954;
  margin-bottom: 20px;
}

.refresh:hover {
  cursor: pointer;
}
.create__playlist__button {
  margin-top: 70px;
  display: flex;
  margin-left: 270px;
  align-self: flex-start;
  background-color: #1db954;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.create__playlist__button:hover {
  opacity: 0.8;
}
.no-data-message{
  margin-left: 270px;
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.nst{
  padding-top: 5px;
  margin-left:0px;
  width:100%;
  font-size: 1.4rem;
  justify-content: space-around;
}
.nt{
  margin-left: 10px;
}

.np{
  margin-left:50px;
  margin-bottom: 20px;
}
.show-more-button,
.show-less-button {
  background-color: #1db954;
  color: #fff;
  border: none;
  margin-right: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}