hr{
    margin: 0 auto;
    width:70%;
}
ul{
    list-style: none;
    padding: 20px;
}
li{
    margin-bottom: 20px;
}
.active{
    color: #1DB954;
    
}
li:hover{
    color: #1DB954;
    cursor: pointer;
}

i{
    margin-right: 20px;
}
.followers{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
    text-align: left;
}
.sidebar {
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; /* Adjust this if necessary to control the height of the sidebar */
    width: 250px;
    color: #e5e5e5;
    background: #121212;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.sidebar__title{
    padding: 20px 0;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.sidebar__profile{
    padding: 0 20px;
    margin-bottom: 20px;
}
.sidebar__menu{
    margin-left:20px ;
    margin-bottom: 20px;
    text-align: justify;
}
.sidebar {
    width: 240px;
    height: 100%;
    background-color: #f2f2f2;
    transition: transform 0.3s;
    overflow-y: auto;
  }
  
  .sidebar__title {
    padding: 20px;
    text-align: center;
  }
  
  .sidebar__profile {
    padding: 20px;
    text-align: center;
  }
  
  .sidebar__menu-toggle {
    display: none;
  }
  
  .sidebar__menu {
    padding: 10px;
  }
  
  .sidebar__menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar__menu li {
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar__menu li:hover {
    background-color: #ddd;
  }
  
  .sidebar__menu li.active {
    background-color: #bbb;
  }
  
  @media (max-width: 960px) {
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      width: 240px;
      height: 100%;
      transform: translateX(-240px);
    }
  
    .sidebar.show-menu {
      transform: translateX(0);
    }
  
    .sidebar__menu-toggle {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 10px;
      cursor: pointer;
      background-color: #333;
      color: #fff;
      text-align: center;
      font-size: 20px;
      transition: background-color 0.3s;
    }
  
    .sidebar__menu-toggle:hover {
      background-color: #555;
    }
  
    .sidebar__menu {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 240px;
      height: 100%;
      background-color: #f2f2f2;
      color: #333;
      transform: translateX(-240px);
      transition: transform 0.3s;
    }
  
    .sidebar.show-menu .sidebar__menu {
      transform: translateX(0);
    }
  
    .sidebar__profile,
    .sidebar__menu-toggle {
      display: none;
    }
  
    .sidebar__menu ul {
      padding-left: 20px;
    }
  }
  