.App {
  text-align: center;
}

.login {
  margin-top: 2rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2rem;
}

.App-link {
  color: #61dafb;
}

form {
  margin-top: 2rem;
}

.logout {
  margin-top: 2rem;
}

p {
  color: white;
}

.card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: #282c34;
  color: white;
}