.App {
  text-align: center;
}

.login__button {
  width:150px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height:35px;
  border:none;
  border-radius: 10px;
  background-color: #282c34;
  color: white;
}

.App-header {
  width: 70%;
  margin-left: 270px;
  display: flex;
  z-index: 9999;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2rem;
}

.nsd{
  margin-left: 0;
  display: flex;
  width: 100%;
 justify-content: space-around;
}

.App-link {
  color: #61dafb;
}

form {
  margin-top: 2rem;
}

.logout {
  margin-top: 2rem;
}

p {
  color: white;
}

.card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: #282c34;
  color: white;
}
.logout{
  width:150px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height:35px;
  border:none;
  border-radius: 10px;
  background-color: #282c34;
  color: white;
}
.logout:hover{
  background-color: #1DB954;
  color: black;
  cursor: pointer;
}
a{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  border-radius: 15px;
  background-color: #282c34;
  color: white;
}

.about{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  text-align: justify;
  border-radius: 20px;
  width: 80%;
  margin:0 auto;
  padding: 20px;
  margin-top:80px;
  font-size: 30px;
  color:white;
}

.about h4{
  padding-bottom: 20px;
  margin:0 auto;
  width: 70%;
}

main{
  display: flex;
  position: relative;
}